<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="keywords"
      content="Digital marketing agency, Digital marketing company, Digital marketing services"
    />
    <meta name="author" content="creativegigs" />
    <meta
      name="description"
      content="Rogan creative multipurpose is a beautiful website template designed for SEO & Digital Agency websites."
    />
    <meta name="og:image" content="images/home/ogg.png" />
    <!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- For Resposive Device -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- For Window Tab Color -->
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#233D63" />
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#233D63" />
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#233D63" />
    <title>Cloud - Filemanager</title>
    <!-- Favicon -->
    <link
      rel="icon"
      type="image/png"
      sizes="56x56"
      href="images/fav-icon/icon.png"
    />
    <!-- Main style sheet -->
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <!-- responsive style sheet -->
    <link rel="stylesheet" type="text/css" href="css/responsive.css" />
  </head>

  <body class="no-scroll-y">
    <div class="main-page-wrapper">
      <!-- ===================================================
				Loading Transition
			==================================================== -->
      <!-- Preloader -->
      <section>
        <div id="preloader">
          <div id="ctn-preloader" class="ctn-preloader">
            <div class="animation-preloader">
              <div class="spinner"></div>
              <div class="txt-loading">
                <span data-text-preloader="L" class="letters-loading"> L </span>
                <span data-text-preloader="O" class="letters-loading"> O </span>
                <span data-text-preloader="G" class="letters-loading"> G </span>
                <span data-text-preloader="O" class="letters-loading"> O </span>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="theme-main-menu theme-menu-one d-align-item">
        <div class="logo">
          <!-- <a href="index.html"><img src="images/logo/logo3.svg" alt="" /></a> -->
          <a href="index.html">LOGO</a>
        </div>
        <nav id="mega-menu-holder" class="navbar navbar-expand-lg">
          <div class="ml-auto nav-container">
            <button
              class="navbar-toggler navbar-toggler-right"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <i class="flaticon-setup"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav">
                <li class="nav-item active dropdown">
                  <a
                    href="index.html"
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    >Home</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    href="index.html"
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    >Files</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    href="index.html"
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    >Contact</a
                  >
                </li>

                <li class="login-button">
                  <a href="login-standard.html">Login</a>
                </li>
              </ul>
            </div>
          </div>
          <!-- /.container -->
        </nav>
        <!-- /#mega-menu-holder -->
        <!-- <div class="header-right-widget">
          <ul>
            <li class="call-us"><a href="#">+880.762.009</a></li>
            <li class="language-switcher">
              <div class="dropdown">
                <button
                  type="button"
                  class="dropdown-toggle"
                  data-toggle="dropdown"
                >
                  En
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <ul class="ct-language__dropdown">
                    <li>
                      <a
                        href="#googtrans(en|en)"
                        class="lang-en lang-select"
                        data-lang="en"
                        >USA</a
                      >
                    </li>
                    <li>
                      <a
                        href="#googtrans(en|es)"
                        class="lang-es lang-select"
                        data-lang="es"
                        >MEXICO</a
                      >
                    </li>
                    <li>
                      <a
                        href="#googtrans(en|fr)"
                        class="lang-es lang-select"
                        data-lang="fr"
                        >FRANCE</a
                      >
                    </li>
                    <li>
                      <a
                        href="#googtrans(en|zh-CN)"
                        class="lang-es lang-select"
                        data-lang="zh-CN"
                        >CHINA</a
                      >
                    </li>
                    <li>
                      <a
                        href="#googtrans(en|de)"
                        class="lang-es lang-select"
                        data-lang="de"
                        >German</a
                      >
                    </li>
                    <li>
                      <a
                        href="#googtrans(en|hi)"
                        class="lang-es lang-select"
                        data-lang="hi"
                        >Hindi</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div> -->
        <!-- /.header-right-widget -->
      </div>
      <!-- /.theme-main-menu -->

      <!-- 
			=============================================
				Theme Main Banner Four
			============================================== 
			-->
      <div id="theme-banner-four">
        <img
          src="images/home/1.png"
          alt=""
          class="screen-one wow fadeInRight animated"
          data-wow-duration="2s"
        />
        <img
          src="images/home/2.png"
          alt=""
          class="screen-two wow fadeInUp animated"
          data-wow-duration="2s"
        />
        <img src="images/shape/shape-8.svg" alt="" class="shape-one" />
        <img src="images/shape/shape-9.svg" alt="" class="shape-two" />
        <img src="images/shape/shape-10.svg" alt="" class="shape-three" />
        <img src="images/shape/shape-11.svg" alt="" class="shape-four" />
        <div class="round-shape-one"></div>
        <div class="round-shape-two"></div>
        <div class="round-shape-three"></div>
        <div class="round-shape-four"></div>
        <div class="container">
          <div class="main-wrapper">
            <div class="slogan wow fadeInDown animated" data-wow-delay="0.2s">
              <span>70% Off</span> for first 3 months
            </div>
            <h1 class="main-title wow fadeInUp animated" data-wow-delay="0.4s">
              Ultimate web app <br />for your customer <br />support.
            </h1>
            <p class="sub-title wow fadeInUp animated" data-wow-delay="0.9s">
              With the xco platform for customer experience, <br />
              service and support.
            </p>
            <ul class="button-group lightgallery">
              <li>
                <a
                  href="about-us-standard.html"
                  class="more-button wow fadeInLeft animated"
                  data-wow-delay="1.5s"
                  >Access Files
                  <i class="fa fa-angle-right" aria-hidden="true"></i
                ></a>
              </li>
            </ul>
          </div>
          <!-- /.main-wrapper -->
        </div>
        <!-- /.container -->
      </div>
      <!-- /#theme-banner-four -->

      <!-- 
			=============================================
				Trsuted Partners
			============================================== 
			-->
      <div class="trusted-partner">
        <div class="container">
          <h6 class="title">Trusted Over <span>2300+</span> Companies</h6>

          <!-- <div class="partner-slider">
            <div class="item">
              <a href="#"><img src="images/logo/envato.svg" alt="" /></a>
            </div>
            <div class="item">
              <a href="#"><img src="images/logo/envato.svg" alt="" /></a>
            </div>
            <div class="item">
              <a href="#"><img src="images/logo/envato.svg" alt="" /></a>
            </div>
            <div class="item">
              <a href="#"><img src="images/logo/envato.svg" alt="" /></a>
            </div>
            <div class="item">
              <a href="#"><img src="images/logo/envato.svg" alt="" /></a>
            </div>
          </div> -->
        </div>
      </div>

      <!-- 
			=============================================
				Our Service
			============================================== 
			-->
      <div class="our-service-sass hide-pr">
        <div class="container">
          <div class="theme-title-one text-center">
            <div class="icon-box hide-pr">
              <img src="images/shape/bg-shape1.svg" alt="" class="bg-shape" />
              <img src="images/icon/icon23.svg" alt="" class="icon" />
            </div>
            <h2 class="main-title">
              Provide awesome customer service <br />
              with our tools.
            </h2>
          </div>
          <!-- /.theme-title-one -->

          <div class="inner-wrapper">
            <div class="row">
              <div class="col-lg-4 single-block" data-aos="fade-up">
                <div class="service-block">
                  <span class="snow-dot"></span>
                  <span class="snow-dot"></span>
                  <span class="snow-dot"></span>
                  <span class="snow-dot"></span>
                  <span class="snow-dot"></span>
                  <span class="snow-dot"></span>
                  <span class="snow-dot"></span>
                  <div class="hover-content"></div>
                  <i class="flaticon-web icon-s"></i>
                  <h5 class="title">
                    <a href="#">User Friendly dashboard & Cool Interface.</a>
                  </h5>
                  <p>
                    Lorem ipsum dolor si amet, an dusino situ sint pertinacia
                    constituto, mir es dignsius quo great.
                  </p>
                  <a href="#" class="detail-button"
                    ><i class="flaticon-next-1"></i
                  ></a>
                </div>
                <!-- /.service-block -->
              </div>
              <!-- /.single-block -->
              <div
                class="col-lg-4 single-block"
                data-aos="fade-up"
                data-aos-delay="300"
              >
                <div class="service-block">
                  <span class="snow-dot"></span>
                  <span class="snow-dot"></span>
                  <span class="snow-dot"></span>
                  <span class="snow-dot"></span>
                  <span class="snow-dot"></span>
                  <span class="snow-dot"></span>
                  <span class="snow-dot"></span>
                  <div class="hover-content"></div>
                  <i class="flaticon-value icon-s"></i>
                  <h5 class="title">
                    <a href="#">Thousand of features and Custom option.</a>
                  </h5>
                  <p>
                    Lorem ipsum dolor si amet, an dusino situ sint pertinacia
                    constituto, mir es dignsius quo great.
                  </p>
                  <a href="#" class="detail-button"
                    ><i class="flaticon-next-1"></i
                  ></a>
                </div>
                <!-- /.service-block -->
              </div>
              <!-- /.single-block -->
              <div
                class="col-lg-4 single-block"
                data-aos="fade-up"
                data-aos-delay="500"
              >
                <div class="service-block">
                  <span class="snow-dot"></span>
                  <span class="snow-dot"></span>
                  <span class="snow-dot"></span>
                  <span class="snow-dot"></span>
                  <span class="snow-dot"></span>
                  <span class="snow-dot"></span>
                  <span class="snow-dot"></span>
                  <div class="hover-content"></div>
                  <i class="flaticon-login icon-s"></i>
                  <h5 class="title">
                    <a href="#">Strong Managment & Security.</a>
                  </h5>
                  <p>
                    Lorem ipsum dolor si amet, an dusino situ sint pertinacia
                    constituto, mir es dignsius quo great.
                  </p>
                  <a href="#" class="detail-button"
                    ><i class="flaticon-next-1"></i
                  ></a>
                </div>
                <!-- /.service-block -->
              </div>
              <!-- /.single-block -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.inner-wrapper -->
        </div>
        <!-- /.container -->
      </div>
      <!-- /.our-service-sass -->

      <!-- 
			=============================================
				Our Feature
			============================================== 
			-->
      <div class="our-feature-sass">
        <div class="section-shape-one"></div>
        <div class="section-shape-two">
          <img src="images/shape/shape-18.svg" alt="" />
        </div>
        <img
          src="images/shape/shape-18.svg"
          alt=""
          class="section-shape-three"
        />
        <div class="section-shape-four"></div>
        <img
          src="images/shape/shape-20.svg"
          alt=""
          class="section-shape-five"
        />
        <img src="images/shape/shape-21.svg" alt="" class="section-shape-six" />
        <img
          src="images/shape/shape-22.svg"
          alt=""
          class="section-shape-seven"
        />
        <img
          src="images/shape/shape-19.svg"
          alt=""
          class="section-shape-eight"
        />
        <a href="#feature-sass" class="down-arrow scroll-target"
          ><span><i class="flaticon-back"></i></span
        ></a>
        <div class="feature-wrapper" id="feature-sass">
          <div class="single-feature-block">
            <div class="container clearfix">
              <div class="text-box">
                <div class="theme-title-one hide-pr">
                  <div class="icon-box hide-pr">
                    <img
                      src="images/shape/bg-shape2.svg"
                      alt=""
                      class="bg-shape"
                    />
                    <img src="images/icon/icon24.svg" alt="" class="icon" />
                  </div>
                  <h2 class="main-title">
                    Provide awesome customer service with our tools.
                    <b class="line"></b>
                  </h2>
                </div>
                <!-- /.theme-title-one -->
                <p>
                  Lorem ipsum dolor sit amet, hendrerit omittantur mel, es vidit
                  Ius te altera essent incorrupte.
                </p>
                <ul>
                  <li>Lorem ipsum essent alien eam hendrerit mel anil.</li>
                  <li>
                    Lorem ipsum essent alien eam hendrerit mel es vidit lus
                    anil.
                  </li>
                  <li>hendrerit mel es vidit lus anil nibh due.</li>
                </ul>
                <a href="#" class="read-more">Read More</a>
              </div>
              <!-- /.text-box -->
            </div>
            <!-- /.container -->

            <div class="img-box">
              <img
                src="images/shape/shape-15.svg"
                alt=""
                class="main-shape"
                data-aos="fade-right"
                data-aos-delay="200"
              />
              <img
                src="images/shape/shape-16.svg"
                alt=""
                class="bg-shape"
                data-aos="fade-right"
                data-aos-delay="400"
              />
              <img
                src="images/home/screen1.png"
                alt=""
                class="screen-one"
                data-aos="fade-down"
                data-aos-delay="600"
              />
              <img
                src="images/home/screen2.png"
                alt=""
                class="screen-two"
                data-aos="fade-down"
                data-aos-delay="800"
              />
              <img
                src="images/home/screen3.png"
                alt=""
                class="screen-three"
                data-aos="fade-down"
                data-aos-delay="1000"
              />
              <img
                src="images/home/screen4.png"
                alt=""
                class="screen-four"
                data-aos="fade-down"
                data-aos-delay="1200"
              />
            </div>
          </div>
          <!-- /.single-feature-block -->

          <div class="single-feature-block">
            <div class="container clearfix">
              <div class="text-box">
                <div class="theme-title-one hide-pr">
                  <div class="icon-box hide-pr">
                    <img
                      src="images/shape/bg-shape3.svg"
                      alt=""
                      class="bg-shape"
                    />
                    <img src="images/icon/icon25.svg" alt="" class="icon" />
                  </div>
                  <h2 class="main-title">
                    Great managment and strong security system.
                    <b class="line"></b>
                  </h2>
                </div>
                <!-- /.theme-title-one -->
                <p>
                  Lorem ipsum dolor sit amet, hendrerit omittantur mel, es vidit
                  Ius te altera essent incorrupte.
                </p>
                <ul>
                  <li>Lorem ipsum essent alien eam hendrerit mel anil.</li>
                  <li>
                    Lorem ipsum essent alien eam hendrerit mel es vidit lus
                    anil.
                  </li>
                  <li>hendrerit mel es vidit lus anil nibh due.</li>
                </ul>
                <a href="#" class="read-more">Read More</a>
              </div>
              <!-- /.text-box -->
            </div>
            <!-- /.container -->

            <div class="img-box">
              <img
                src="images/shape/shape-17.svg"
                alt=""
                class="main-shape"
                data-aos="fade-left"
                data-aos-delay="200"
              />
              <img
                src="images/home/screen5.png"
                alt=""
                class="screen-one"
                data-aos="fade-down"
                data-aos-delay="400"
              />
              <img
                src="images/home/screen6.png"
                alt=""
                class="screen-two"
                data-aos="zoom-in"
                data-aos-delay="600"
              />
            </div>
          </div>
          <!-- /.single-feature-block -->
        </div>
        <!-- /.feature-wrapper -->
      </div>
      <!-- /.our-feature-sass -->

      <!--
			=====================================================
				Our Pricing
			=====================================================
			-->
      <div class="sass-our-pricing">
        <div class="section-shape-one">
          <img src="images/shape/shape-18.svg" alt="" />
        </div>
        <img
          src="images/shape/shape-24.svg"
          alt=""
          class="section-shape-two"
          data-aos="fade-right"
          data-aos-duration="3000"
        />
        <img
          src="images/shape/shape-25.svg"
          alt=""
          class="section-shape-three"
        />
        <div class="section-shape-four"></div>
        <img
          src="images/shape/shape-26.svg"
          alt=""
          class="section-shape-five"
        />
        <img
          src="images/shape/shape-27.svg"
          alt=""
          class="section-shape-six"
          data-aos="fade-left"
          data-aos-duration="3000"
        />

        <div class="container">
          <div class="theme-title-one text-center hide-pr">
            <div class="icon-box hide-pr">
              <img src="images/shape/bg-shape4.svg" alt="" class="bg-shape" />
              <img src="images/icon/icon26.svg" alt="" class="icon" />
            </div>
            <h2 class="main-title">
              No Hidden Charges! Choose <br />your Plan.
            </h2>
          </div>
          <!-- /.theme-title-one -->

          <div class="pricing-tab-menu pb-150">
            <div class="nav-wrapper">
              <ul class="nav nav-tabs justify-content-center">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#month"
                    >Monthly</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#annual"
                    >Annual</a
                  >
                </li>
              </ul>
            </div>
            <p>Save 30% on annual plan</p>
          </div>
          <!-- /.pricing-tab-menu -->

          <div class="tab-content">
            <!-- ^^^^^^^^^^^^^^^^^^^^^ Monthly ^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->
            <div id="month" class="tab-pane fade show active">
              <div class="row no-gutters">
                <div class="col-lg-4">
                  <div class="single-pr-table free">
                    <div class="pr-header">
                      <div class="price">$0.00</div>
                      <h4 class="title">Free</h4>
                    </div>
                    <!-- /.pr-header -->
                    <div class="pr-body">
                      <h3 class="feature">Top Features</h3>
                      <ul>
                        <li>Limited Acess Library</li>
                        <li>Single User</li>
                        <li>No Updates</li>
                      </ul>
                    </div>
                    <!-- /.pr-body -->
                    <div class="pr-footer">
                      <a href="#" class="upgrade-button">Upgrade</a>
                      <a href="#" class="trial-button"
                        >Get your 30 day free trial</a
                      >
                    </div>
                    <!-- /.pr-footer -->
                  </div>
                  <!-- /.single-pr-table -->
                </div>
                <!-- /.col- -->

                <div class="col-lg-4">
                  <div class="single-pr-table regular">
                    <div class="pr-header">
                      <div class="price">$11.25</div>
                      <h4 class="title">Reguler</h4>
                      <div class="package">Single User, Billed Monthly</div>
                    </div>
                    <!-- /.pr-header -->
                    <div class="pr-body">
                      <h3 class="feature">Top Features</h3>
                      <ul>
                        <li>Full Acess Library</li>
                        <li>Multiple User</li>
                        <li>10gb Bandwith & 2 Panel</li>
                        <li>2x Faster speed</li>
                      </ul>
                    </div>
                    <!-- /.pr-body -->
                    <div class="pr-footer">
                      <a href="#" class="upgrade-button">Upgrade</a>
                      <a href="#" class="trial-button"
                        >Get your 30 day free trial</a
                      >
                    </div>
                    <!-- /.pr-footer -->
                  </div>
                  <!-- /.single-pr-table -->
                </div>
                <!-- /.col- -->

                <div class="col-lg-4">
                  <div class="single-pr-table plus">
                    <div class="pr-header">
                      <div class="price">$39.15</div>
                      <h4 class="title">Plus</h4>
                      <div class="package">Multiple User, Billed Monthly</div>
                    </div>
                    <!-- /.pr-header -->
                    <div class="pr-body">
                      <h3 class="feature">Top Features</h3>
                      <ul>
                        <li>Full Acess Library</li>
                        <li>Multiple User</li>
                        <li>10gb Bandwith & 2 Panel</li>
                        <li>2x Faster speed</li>
                        <li>Hotline Support 24x7</li>
                      </ul>
                    </div>
                    <!-- /.pr-body -->
                    <div class="pr-footer">
                      <a href="#" class="upgrade-button">Upgrade</a>
                      <a href="#" class="trial-button"
                        >Get your 30 day free trial</a
                      >
                    </div>
                    <!-- /.pr-footer -->
                  </div>
                  <!-- /.single-pr-table -->
                </div>
                <!-- /.col- -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /#month -->

            <!-- ^^^^^^^^^^^^^^^^^^^^^ Yearly ^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->
            <div id="annual" class="tab-pane fade">
              <div class="row no-gutters">
                <div class="col-lg-4">
                  <div class="single-pr-table free">
                    <div class="pr-header">
                      <div class="price">$0.00</div>
                      <h4 class="title">Free</h4>
                    </div>
                    <!-- /.pr-header -->
                    <div class="pr-body">
                      <h3 class="feature">Top Features</h3>
                      <ul>
                        <li>Limited Acess Library</li>
                        <li>Single User</li>
                        <li>No Updates</li>
                      </ul>
                    </div>
                    <!-- /.pr-body -->
                    <div class="pr-footer">
                      <a href="#" class="upgrade-button">Upgrade</a>
                      <a href="#" class="trial-button"
                        >Get your 30 day free trial</a
                      >
                    </div>
                    <!-- /.pr-footer -->
                  </div>
                  <!-- /.single-pr-table -->
                </div>
                <!-- /.col- -->

                <div class="col-lg-4">
                  <div class="single-pr-table regular">
                    <div class="pr-header">
                      <div class="price">$560.25</div>
                      <h4 class="title">Reguler</h4>
                      <div class="package">Single User, Billed Monthly</div>
                    </div>
                    <!-- /.pr-header -->
                    <div class="pr-body">
                      <h3 class="feature">Top Features</h3>
                      <ul>
                        <li>Full Acess Library</li>
                        <li>Multiple User</li>
                        <li>10gb Bandwith & 2 Panel</li>
                        <li>2x Faster speed</li>
                      </ul>
                    </div>
                    <!-- /.pr-body -->
                    <div class="pr-footer">
                      <a href="#" class="upgrade-button">Upgrade</a>
                      <a href="#" class="trial-button"
                        >Get your 30 day free trial</a
                      >
                    </div>
                    <!-- /.pr-footer -->
                  </div>
                  <!-- /.single-pr-table -->
                </div>
                <!-- /.col- -->

                <div class="col-lg-4">
                  <div class="single-pr-table plus">
                    <div class="pr-header">
                      <div class="price">$999.15</div>
                      <h4 class="title">Plus</h4>
                      <div class="package">Multiple User, Billed Monthly</div>
                    </div>
                    <!-- /.pr-header -->
                    <div class="pr-body">
                      <h3 class="feature">Top Features</h3>
                      <ul>
                        <li>Full Acess Library</li>
                        <li>Multiple User</li>
                        <li>10gb Bandwith & 2 Panel</li>
                        <li>2x Faster speed</li>
                        <li>Hotline Support 24x7</li>
                      </ul>
                    </div>
                    <!-- /.pr-body -->
                    <div class="pr-footer">
                      <a href="#" class="upgrade-button">Upgrade</a>
                      <a href="#" class="trial-button"
                        >Get your 30 day free trial</a
                      >
                    </div>
                    <!-- /.pr-footer -->
                  </div>
                  <!-- /.single-pr-table -->
                </div>
                <!-- /.col- -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /#annual -->
          </div>
        </div>
        <!-- /.container -->
      </div>
      <!-- /.sass-our-pricing -->

      <!--
			=====================================================
				Testimonial
			=====================================================
			-->
      <div class="sass-testimonial-section">
        <img src="images/home/2.jpg" alt="" class="people" />
        <img src="images/home/3.jpg" alt="" class="people" />
        <img src="images/home/4.jpg" alt="" class="people" />
        <img src="images/home/5.jpg" alt="" class="people" />
        <img src="images/home/6.jpg" alt="" class="people" />
        <img src="images/home/7.jpg" alt="" class="people" />
        <div class="container">
          <div class="theme-title-one text-center hide-pr">
            <div class="icon-box hide-pr">
              <img src="images/shape/bg-shape5.svg" alt="" class="bg-shape" />
              <img src="images/icon/icon27.svg" alt="" class="icon" />
            </div>
            <h2 class="main-title">What’s Our Client Think <br />About Us.</h2>
          </div>
          <!-- /.theme-title-one -->

          <div class="inner-container">
            <div class="main-content">
              <div class="agn-testimonial-slider">
                <div class="item">
                  <p>
                    ommodo consequat. Duis aute irure dolor in reprehendert
                    voluptate velit esse cillum dolore eu fugiat nulla Excepteu
                    sint occaecat cupidat non proident, sunt in culpa qui
                    officia deserunt mollit anim id est lrum.
                  </p>
                  <h6 class="name">Rashed Ka.</h6>
                  <span class="designation">Senior Designer, Squre.</span>
                </div>
                <!-- /.item -->
                <div class="item">
                  <p>
                    ommodo consequat. Duis aute irure dolor in reprehendert
                    voluptate velit esse cillum dolore eu fugiat nulla Excepteu
                    sint occaecat cupidat non proident, sunt in culpa qui
                    officia deserunt mollit anim id est lrum.
                  </p>
                  <h6 class="name">Zubayer al hasan</h6>
                  <span class="designation">Senior Developer, Envato.</span>
                </div>
                <!-- /.item -->
              </div>
            </div>
          </div>
          <!-- /.inner-container -->
        </div>
        <!-- /.container -->
      </div>
      <!-- /.sass-testimonial-section -->

      <!--
			=====================================================
				FAQ Section
			=====================================================
			-->
      <div class="sass-faq-section">
        <div class="section-shape-one">
          <img src="images/shape/shape-18.svg" alt="" />
        </div>
        <img src="images/shape/shape-26.svg" alt="" class="section-shape-two" />
        <img
          src="images/shape/shape-29.svg"
          alt=""
          class="section-shape-three"
        />
        <img
          src="images/shape/shape-30.svg"
          alt=""
          class="section-shape-four"
        />

        <!-- /.container -->
      </div>
      <!-- /.sass-faq-section -->

      <!-- 
			=============================================
				Contact Banner
			============================================== 
			-->
      <div class="sass-contact-banner">
        <div class="u-shape">U</div>
        <div class="d-shape">D</div>
        <div class="container">
          <h2 class="title">
            Getting connected with us & <br />for the update.
          </h2>
          <a href="#" class="subscribe-button">Subscribe Now!</a>
        </div>
        <!-- /.contianer -->
      </div>
      <!-- /.sass-contact-banner -->

      <!--
			=====================================================
				Footer
			=====================================================
			-->
      <footer class="theme-footer-one" id="footer">
        <div class="shape-one" data-aos="zoom-in-right"></div>
        <img src="images/shape/shape-67.svg" alt="" class="shape-two" />
        <div class="top-footer">
          <div class="container">
            <div class="row">
              <div
                class="col-lg-6 col-sm-6 col-12 about-widget"
                data-aos="fade-up"
              >
                <!-- <a href="index.html" class="logo"
                  ><img src="images/logo/logo2.svg" alt=""
                /></a> -->
                <a href="index.html" class="logo">LOGO</a>
                <a href="#" class="email">logo@company.com</a>
                <a href="#" class="phone">990.661.2231</a>
              </div>
              <!-- /.about-widget -->
              <!-- <div
                class="col-lg-3 col-lg-3 col-sm-6 col-12 footer-list"
                data-aos="fade-up"
              >
                <h5 class="title">Services</h5>
                <ul>
                  <li><a href="#">Web Design</a></li>
                  <li><a href="#">Development</a></li>
                  <li><a href="#">Wordpress</a></li>
                  <li><a href="#">Online Marketing</a></li>
                  <li><a href="#">Content</a></li>
                </ul>
              </div> -->
              <!-- /.footer-recent-post -->
              <!-- <div
                class="col-lg-3 col-sm-6 col-12 footer-list"
                data-aos="fade-up"
              >
                <h5 class="title">About us</h5>
                <ul>
                  <li><a href="about-us-standard.html">About us</a></li>
                  <li><a href="project-standard.html">Work Portfolio</a></li>
                  <li><a href="team-standard.html">Team</a></li>
                  <li><a href="#">Plan & Pricing</a></li>
                  <li><a href="blog-default.html">News</a></li>
                </ul>
              </div> -->
              <!-- /.footer-list -->
              <div
                class="col-lg-6 col-lg-2 col-sm-6 col-12 footer-information"
                data-aos="fade-up"
              >
                <h5 class="title">Our Address</h5>
                <p>00 Orville Road Apt. 728 <br />California, USA</p>
                <ul>
                  <li>
                    <a href="#"
                      ><i class="fa fa-facebook" aria-hidden="true"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#"
                      ><i class="fa fa-twitter" aria-hidden="true"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#"
                      ><i class="fa fa-linkedin" aria-hidden="true"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container -->
        </div>
        <!-- /.top-footer -->

        <div class="container">
          <div class="bottom-footer">
            <div class="clearfix">
              <p>&copy; 2019 copyright all right reserved</p>
              <ul>
                <li><a href="#">Privace & Policy.</a></li>
                <li><a href="faq.html">Faq.</a></li>
                <li><a href="#">Terms.</a></li>
              </ul>
            </div>
          </div>
          <!-- /.bottom-footer -->
        </div>
      </footer>
      <!-- /.theme-footer-one -->

      <!-- Scroll Top Button -->
      <button class="scroll-top tran3s">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
      </button>

      <!-- Optional JavaScript _____________________________  -->

      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <!-- jQuery -->
      <script src="vendor/jquery.2.2.3.min.js"></script>
      <!-- Popper js -->
      <script src="vendor/popper.js/popper.min.js"></script>
      <!-- Bootstrap JS -->
      <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
      <!-- menu  -->
      <script src="vendor/mega-menu/assets/js/custom.js"></script>
      <!-- AOS js -->
      <script src="vendor/aos-next/dist/aos.js"></script>
      <!-- WOW js -->
      <script src="vendor/WOW-master/dist/wow.min.js"></script>
      <!-- owl.carousel -->
      <script src="vendor/owl-carousel/owl.carousel.min.js"></script>
      <!-- js count to -->
      <script src="vendor/jquery.appear.js"></script>
      <script src="vendor/jquery.countTo.js"></script>
      <!-- Fancybox -->
      <script src="vendor/fancybox/dist/jquery.fancybox.min.js"></script>

      <!-- Language js -->
      <script src="../../../../translate.google.com/translate_a/elementa0d8.js?cb=googleTranslateElementInit"></script>

      <!-- Theme js -->
      <script src="js/lang.js"></script>
      <script src="js/theme.js"></script>
    </div>
    <!-- /.main-page-wrapper -->
  </body>
</html>
